.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    background-color: #121214;
    color: white;
}

.login-logo img {
    width: 300px;
    height: 300px;
}

.login-right { 
    margin-top: 40px;
    background-color: #202024;
    border-radius: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 500px;
    height: 400px;

}

.login-right h1 {
    margin: 0;
    font-family: 'Roboto Slab';
    font-size: 40px;
    margin-bottom: 20px;
    color: #d2d2e2;
}

.login-right h4 {
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    color: #e1e1e6;
}

.login-loginInputEmail {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #121214;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    margin-top: 20px;
}

.login-loginInputEmail svg {
    margin-left: 10px;
    font-size: 25px;
}

.login-loginInputEmail input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.login-loginInputPassword {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #121214;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.login-loginInputPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.login-loginInputPassword input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color:  #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.login-right button {
    width: 98%;
    background-color: #41356b;
    color: #827a9d;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    border: none;

    outline-width: 0;
}


.login-right button:hover {
    background-color: #6d45c9;
    color: #EFF2F5;
    cursor: pointer;
}

p{
    font-size: 15px;
    color: #6c44c9;
}
p:hover{
    color: white;
}

.login-eye {
    align-items: center;
    justify-content: center;
    font-size: 30;
    cursor: pointer;
    margin-right: 10px;
}



/* .login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #121214;
   
}

/* .login-logo{
    width: 300px;
    height: 300px;
} */
/* .login-form{
    align-items: center;
    justify-content: center;
    background-color:#202024 ;
    width: 450px;
    height: 450px;
    box-shadow: 5px 10px 30px black;
    border: none;
    border-radius: 40px 10px;

} */

/* .login-form h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.login-form h4{
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-top: 20px;
    font-size: 15px;
    color: white;
    text-align: center;
   
}

.login-form h5{
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-left: 24%;
    color: #6e4cbf;
}

.login-form h5:hover{
    color: #6534d8;
    
}


.input-email{
    background-color:#121214 ;
    border: none;
    margin-top: 20px;
    margin-left: 25%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.input-senha{
    background-color:#121214 ;
    border: none;
    margin-top: 5px;
    margin-left: 25%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.button-entrar{
    background-color: #41356b;
    border: none;
    margin-top: 10px;
    margin-left: 24%;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    color: #827a9d;
}

.login-form p{
    
    margin-top: 2px;
    margin-left: 50%;
    font-size: 12px;
    color: #6534d8;
/* } */ 